:root{
  --background-color: #221e30;
  --primary-color1: #2c2245;
  --primary-color2: #322557;
  --primary-color3: #3f2a75;
  --dark-color: #99969e;
  --light-color: #d6d6d6;
  --light-bg-color: #25212b;
  --text-color: #ededed;
  --secondary-color: #6e53b8;
  --border-color1: #878787;
  --border-color2: #9c9c9c;
}
