:root{
  --background-color: #fafafa;
  --primary-color1: #886dcf;
  --primary-color2: #6f4fc4;
  --primary-color3: #5936b5;
  --dark-color: #343436;
  --light-color: #f0f0f0;
  --light-bg-color: #f0f0f0;
  --text-color: #1a1a1a;
  --secondary-color: #322652;
  --border-color1: #dbdbdb;
  --border-color2: #757575;
}
body{
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  background: var(--background-color);
}
#lowerwidth{
  display: none;
}
/**************************LOADER**********************/
#loadercontainer{
  position: relative;
  display: none;
  z-index: 10;
  min-width: 100vw;
  min-height: 100vh;
  background: rgba(176, 176, 176, 0.5);
  color: var(--text-color);
}
#loaderdiv{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#loadercircle{
  width: 70px;
  display: inline-block;
  height: 70px;
  border-top: 3px solid var(--primary-color1);
  border-radius: 50%;
  animation: loadrotate 1s infinite;
}
#loadertext{
  margin: 10px;
  font-size: 1.1em;
  font-weight: bold;
  color: var(--primary-color3);
}
@keyframes loadrotate {
  0%{transform: rotate(0deg);}
  25%{transform: rotate(90deg);}
  50%{transform: rotate(180deg);}
  75%{transform: rotate(270deg);}
  100%{transform: rotate(360deg);}
}

.smallloader{
  background: red;
  width: 90px;
  height: 100px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--secondary-color);
  box-shadow: 2px 2px 5px var(--primary-color2), -2px -2px 5px var(--primary-color2);
}
.smallloader span{

  display: inline-block;
  width: 20px;
  height: 20px;
  border-top: 2px solid var(--light-color);
  border-radius: 50%;
  animation: loadrotate 1s infinite;
}
/**************************LOADER END**********************/
.appdivs{
  min-height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: all 0.3s ease;
  z-index: -1;
  color: var(--text-color);
}
.pushtoleft{
  left: -100%;
  width: 0;
}
.pushtoright{
  left: 100%;
  width: 0;
}
.bring{
  left: 0;
  width: 100vw;
}
/********************LOGIN**********************/
#logindiv{
  background: var(--light-bg-color);
}
#loginformdiv{
  position: absolute;
  background: white;
  top: 50%;
  left: 50%;
  padding: 10px;
  border: 1px solid var(--border-color1);
  box-shadow: 1px 1px 5px var(--border-color1), -1px -1px 5px var(--border-color1);
  transform: translate(-50%, -50%);
  min-width: 250px;
  box-sizing: border-box;
  text-align: center;
  color: var(--secondary-color);
}
#loginformdiv h2{
  margin: 5px;
  font-size: 1.2em;
  padding-bottom: 10px;
  border-bottom: 1px solid #c9c9c9;
}
#loginformdiv *{
  margin: 6px 5px;
  display: inline-block;
}
#usernameregister, .buts{
  padding: 10px;
  border: 1px solid var(--border-color2);
  border-radius: 10px;
  transition: all 0.2s ease;
}
.buts{
  color: var(--light-color);
  background: linear-gradient(to right, var(--primary-color1), var(--primary-color2));
  min-width: 100px;
  font-size: 1.1em;
}
.buts:hover{
  background: linear-gradient(to right, var(--primary-color3), var(--primary-color2));
}

/***********************MAIN CONTENT*************************/
header{
  position: sticky;
  top: 0;
  left: 0;
  background: linear-gradient(var(--primary-color2), var(--primary-color3));
  border-bottom: 1px solid var(--primary-color3);
  box-shadow: 1px 0px 8px var(--dark-color);
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto 50px;
}
header h1{
  margin: 0;
  padding: 10px;
  color: var(--light-color);
}
.options{
  vertical-align: middle;
  position: relative;
  margin: auto 10px;
  text-align: center;
  padding: 5px;
  transition: all 0.2s ease;
}
.options:hover{
  background: var(--primary-color2);
  box-shadow: 2px 2px 5px var(--primary-color3), -2px -2px 5px var(--primary-color3);
}
.optionspan{
  vertical-align: middle;
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: white;
}
#maincontent{
  padding: 0px 10px;
}
#maincontent p{
  margin: 0;
}
.usercard{
  border-top: 1px solid var(--border-color1);
  padding: 10px 5px;
}
.usercard:first-of-type{
  border: 0;
}
.chatuser{
  display: grid;
  grid-template-columns: 40px auto 20px;
  grid-gap: 10px;
}
.chatuser>*{
  display: flex;
  align-items: center;
}
.userlogo{
  border: 3px solid var(--border-color1);
  color: var(--border-color1);
  background: linear-gradient(to bottom right, var(--primary-color1), var(--primary-color2));
  border-radius: 50%;
  font-size: 2em;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  justify-content: center;
}
.userusername{
  font-size: 1.1em;
}
.useronline span{
  width: 10px;
  height: 10px;
  background: var(--border-color1);
  border-radius: 50%;
}
.useronline.active span{
  background: #50b38a;
}
/*************************CHAT********************************/
.chatheader, .settingsheader{
  display: grid;
  grid-template-columns: 60px auto 50px;
  font-size: 0.9em;
  z-index: 3;
  position: sticky;
  top: 0;
  left: 0;
}
.chatheader img, .settingsheader img{
  width: 20px;
  margin: auto;
  height: 20px;
  filter: invert(100%);
  transform: rotateZ(180deg);
  padding: 10px;
  border-radius: 50%;
  transition: all 0.2s ease;
  grid-row: 1/3;
}
.chatheader img:hover, .settingsheader img:hover{
  background: rgba(222, 222, 222, 0.5);
}
.chatheader h1{
  padding: 5px 0;
}
.checkonline{
  margin: 0;
  padding: 0;
  padding-bottom: 2px;
  color: var(--light-color);
}
#chatoptions{
  grid-column: 1/4;
  position: absolute;
  right: 5px;
  top: 5px;
  overflow: hidden;
  padding: 0px;
  background: var(--light-bg-color);
  border-radius: 5px;
  width: 0;
  height: 0;
  transition: all 0.2s ease;
  box-shadow: 2px 2px 5px var(--border-color2), -2px -2px 5px var(--border-color1);
}
#chatoptions.sho{
  padding: 10px;
  width: auto;
  height: auto;
}
#chatoptions p{
  margin: 0;
  font-size: 0.9em;
  border-top: 1px solid var(--border-color1);
  padding: 10px 5px;
  transition: all 0.2s ease;
}
#chatoptions p:first-of-type{
  border: 0;
}
#chatoptions p:hover{
  background: var(--border-color1)
}
.popupcontext{
  border-radius: 5px;
  font-size: 0.9em;
  background: var(--secondary-color);
  border: 1px solid var(--primary-color2);
  padding: 5px;
  margin: 0 !important;
  display: inline-block;
  box-sizing: border-box;
}
.popupcontext button{
  margin: 0;
  border: 0;
  background: transparent;
  display: inline-block;
  padding: 5px;
  color: var(--light-color);
  border-right: 1px solid var(--border-color2);
}
.popupcontext button:focus{
  outline: 0;
}
.popupcontext button:last-of-type{
  border: 0;
}
.popup{
  position: absolute !important;
  width: auto !important;
  height: auto !important;
}
.nobackdrop{
  background: transparent !important;
}
#chatcontentcontainer{
  overflow: auto;
  background: var(--light-bg-color);
}
#chatcontent{
  height: auto;
  padding: 10px;
}
#chatcontent img{
  border-radius: 5px;
}
.datedivs{
  text-align: center;
  padding: 2px;
}
.datedivs p{
  margin: 0;
  font-size: 0.85em;
  padding: 3px 10px;
  background: var(--secondary-color);
  color: var(--light-color);
  display: inline-block;
  border-radius: 4px;
}
.messagedivs{
  position: relative;
  margin: 2px 0px;
}
.messagedivs.selected{
  background: rgba(149, 110, 204, 0.6);
}
#chatcontent pre{
  display: inline-block;
  padding: 7px 10px;
  margin: 0px;
  border-radius: 10px;
  max-width: 55%;
  text-align: justify;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: 'Roboto', sans-serif;
}
#chatcontent .mymsg{
  text-align: right;
  color: var(--light-color);
}
#chatcontent .othersmsg pre{
  border: 1px solid var(--border-color2);
  background: var(--light-bg-color);
}
#chatcontent .mymsg pre{
  border: 1px solid var(--primary-color3);
  background: linear-gradient(to right, var(--primary-color2), var(--primary-color1));
}
#chatmessagediv{
  position: sticky;
  top: 0;
  left: 0;
  padding: 1px;
  display: grid;
  grid-template-columns: 50px auto 50px;
  border-top: 1px solid var(--border-color1);
  border-bottom: 1px solid var(--border-color1);
  background: var(--light-bg-color);
}
#message{
  resize: none;
  padding: 7px 10px;
  transition: all 0.2s ease;
  font-family: 'Roboto', sans-serif;
  background: var(--light-bg-color);
  color: var(--text-color);
  border: 0;
  border-left: 1px solid var(--border-color1);
  border-right: 1px solid var(--border-color1);
}
#message:focus{
  outline: none;
  border-color: var(--secondary-color);
}
.messagetime{
  display: block;
  font-size: 0.7em;
  align-self: baseline;
  margin: 4px -2px -2px 0px;
  text-align: right;
}
#chatmessagediv img{
  width: 50px;
  height: 50px;
  padding: 7px;
  box-sizing: border-box;
  margin: 0;
  background: linear-gradient(to bottom left, var(--primary-color1), var(--primary-color3));
  display: block;
}
#sendmessageicon{
  transform: rotateZ(90deg);
}
#memediv{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--primary-color3);
  padding: 5px;
  border-radius: 5px;
  display: none;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(min-content, max-content);
  max-width: 90%;
  z-index: 10;
  max-height: 70%;
  overflow: auto;
  box-sizing: border-box;
}
#memediv.showmemes{
  display: grid;
}
.meme{
  width: 90px;
  max-height: 150px;
  min-height: 100px;
  margin: 2px;
  border: 0px !important;
  border-radius: 5px;
  box-sizing: border-box;
  background: var(--secondary-color);
  box-shadow: 2px 2px 5px var(--primary-color2), -2px -2px 5px var(--primary-color2);
}
/*********************SETTINGS*******************/
.settingsh1{
  margin: 8px 0px;
  padding: 5px 0px;
}
.settingscontent{
  padding: 5px 10px;
  text-align: center;
}
#showusername{
  margin: 15px 0px;
}
#showusername *{
  vertical-align: middle;
}
.buttons{
  padding: 5px 10px;
  margin-left: 10px;
  border-radius: 4px;
  border: 1px solid var(--secondary-color);
  color: var(--light-color);
  background: linear-gradient(to bottom left, var(--primary-color2), var(--primary-color3));
}

.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
}

.switch input {
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--border-color2);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--primary-color3);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--primary-color3);
}

input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

/****************DESKTOPS*****************/
@media screen and (min-width: 768px) {
  #container{
    display: none;
    overflow: hidden;
  }
  #lowerwidth{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
